    <!-- Docs page layout -->
    <!--div class="bs-header" id="content">
      <div class="container">
        <h1>CSS</h1>
        <p>设置全局CSS样式，基本的HTML元素均可以通过class设置样式并得到增强效果，还有先进的栅格系统。<a href="/">Link To</a></p>
        <p>xx</p>
        <p>yyy</p>
      </div>
    </div-->
    
    <div data-ride="carousel" class="carousel slide" id="carousel-example-generic">
        <ol class="carousel-indicators">
          <!--li class="active" data-slide-to="0" data-target="#carousel-example-generic"></li>
          <li data-slide-to="1" data-target="#carousel-example-generic" class=""></li>
          <li data-slide-to="2" data-target="#carousel-example-generic" class=""></li>
          <li data-slide-to="3" data-target="#carousel-example-generic" class=""></li-->
          {{{slide_nums}}}
        </ol>
        <div class="carousel-inner">
          <!--div class="item active">
            <a href="">
            <img alt="First slide" data-src="" src="http://www.wisdom-china.cn/static/default/images/banner.jpg" width="100%"/>
            </a>
          </div>
          <div class="item">
            <a href="">
            <img alt="Second slide" data-src="" src="http://www.wisdom-china.cn/static/default/images/ad_banner.jpg" width="100%"/>
            </a>
          </div>
          <div class="item">
            <a href="">
            <img alt="Third slide" data-src="" src="http://www.wisdom-china.cn/static/default/images/sports_banner.jpg" width="100%"/>
            </a>
          </div-->
          {{{slide_pics}}}
        </div>
        <a data-slide="prev" href="#carousel-example-generic" class="left carousel-control">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a data-slide="next" href="#carousel-example-generic" class="right carousel-control">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>