<link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
<script src="/js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/bootstrap-datetimepicker.zh-CN.js"></script>
<link href="/ueditor/themes/default/css/umeditor.min.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" charset="utf-8" src="/ueditor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/umeditor.min.js"></script>
<script type="text/javascript" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
    <!-- inc template file -->
    
    
    <!-- html var -->
    

    <!-- Callout for the old docs link -->
    

    <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-3">
          <div class="bs-sidebar hidden-print" role="complementary">
            <ul class="nav bs-sidenav">
                <li class=""><a href="/user/myact">我参与的</a></li>
                <li class="active"><a href="/user/doact">我发起的</a></li>
            </ul>
          </div>
        </div>
        
        <div class="col-md-9" role="main">
          <!-- Global Bootstrap settings
          ================================================== -->
          <div class="bs-docs-section">
            <div class="page-header">
              <h3 id="overview">{{title}}  </h3>
            </div>
            <div class="">
              <table class="table table-hover table-bordered">
                <thead>
                  <tr>
                    <th>联系电话</th>
                    <th>电子邮箱</th>
                    <th>活动名称</th>
                    <th>用户名</th>
                    <th>报名时间</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each cates}}  
                  <tr>
                    <td>{{this.mobile}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.act_title}}</td>
                    <td>{{this.username}}</td>
                    <td>{{this.show_time}}</td>
                    <td>
                    -
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
              <ul class="pagination">
                {{{pages}}}
             </ul>
            </div>
          </div>
        </div>
        
      </div>

    </div>
<script>

</script>