    <!-- inc template file -->
    
    
    <!-- html var -->
    

    <!-- Callout for the old docs link -->
    

    <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-3">
          <div class="bs-sidebar hidden-print" role="complementary">
            <ul class="nav bs-sidenav">
                <li><a href="/userinfo">个人资料</a></li>      
                <li><a href="/head">修改头像</a></li>
                <li class="active"><a href="/password">修改密码</a></li>
            </ul>
          </div>
        </div>
        
        <div class="col-md-9" role="main">
          <!-- Global Bootstrap settings
          ================================================== -->
          <div class="bs-docs-section">
            <div class="page-header">
              <h3 id="overview">{{title}}</h3>
            </div>
            <div class="">
                <form class="form-horizontal" role="form" method="post">
                  <div class="form-group">
                    <label for="oldPassword" class="col-sm-2 control-label">原密码</label>
                    <div class="col-sm-3">
                      <input type="password" placeholder="原密码" name="oldPassword" id="oldPassword" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="newPassword" class="col-sm-2 control-label">新密码</label>
                    <div class="col-sm-3">
                      <input type="password" placeholder="新密码" name="newPassword" id="newPassword" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="repeatPassword" class="col-sm-2 control-label">确认密码</label>
                    <div class="col-sm-3">
                      <input type="password" placeholder="确认密码" name="repeatPassword" id="repeatPassword" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <input type="hidden" value="{{user._id}}" name="uid"/>
                      <button type="submit" class="btn btn-primary">修改</button>
                    </div>
                  </div>
                </form>
            </div>
          </div>
        </div>
        
      </div>

    </div>
<script>

</script>